<div class="conteiner">
  <br>
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <button class="add-button" mat-raised-button color="primary" (click)="goToCreatePerson()">Add a Person</button>
    </div>
    <div class="col-md-5">
      <form class="example-form">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" (click)="searchByName()" type="button">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form class="example-form">
        <span>18</span>
        <mat-slider
          class="slider"
          max="100"
          min="18"
          step="1"
          thumbLabel="true"
          tickInterval="ageValue"
          (ngModel)="ageValue"
          (change)="rangeChange($event)">
        </mat-slider>
        <span>100</span>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <mat-list>
        <mat-list-item class="item" *ngFor="let item of items">
          <img mat-list-icon [src]="item.payload.doc.data().avatar" style="width: 70px; height: 70px;">
          <h4 mat-line>{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h4>
          <button (click)="viewDetails(item)" type="button" class="btn btn-outline-primary">View details</button>
          <p mat-line>{{item.payload.doc.data().age}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<!-- <nav class="navbar navbar-light footer-bar">
  <span class="navbar-brand mb-0 h1 footer-title">Angular Templates</span>
</nav> -->
